/* ======================================================
   Proyecto Toroide
   Version: 0.1
   File: layout.css
   Purpose: Global Layout System
   Dependencies:
   - tokens.css
====================================================== */

.container{

    width:min(92%,var(--content-width));

    margin-inline:auto;

}
