/* ======================================================
   Proyecto Toroide
   Version: 0.1
   Author: Octavio Guerrero
====================================================== */
/* ===== RESET ===== */

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--background);

    color:var(--text-primary);

    font-family:Inter,Arial,sans-serif;

}
