/* ======================================================
   Proyecto Toroide
   Version: 0.1
   File: style.css
   Purpose: Global Styles
   Dependencies:
   - tokens.css
====================================================== */

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--bg);
    color:var(--text);

    font-family:Inter,system-ui,sans-serif;

    line-height:1.6;

    overflow-x:hidden;

    background:
       linear-gradient(
          rgba(255,255,255,.02) 1px,
          transparent 1px
       ),
       linear-gradient(
          90deg,
          rgba(255,255,255,.02) 1px,
          transparent 1px
       ),
       var(--bg);
   background-size:
      var(--grid-size)
      var(--grid-size); 
   background-attachment:fixed;

}
